@import "tailwindcss";

/* Hilangkan scrollbar tapi tetap bisa scroll */
#chatBox::-webkit-scrollbar {
  display: none;
}
#chatBox {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
.typing-bubble span {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  margin-right: 4px;
  animation: wave 1.2s infinite ease-in-out;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.typing-bubble span:nth-child(2) {
  animation-delay: 0.2s;
}
.typing-bubble span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes wave {
  0%, 60%, 100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-6px);
  }
}
